.update-warehouse-container {
  margin: 0 10%;
}

.table-container {
  max-height: 400px; /* Set max height for the table container */
  overflow-y: auto; /* Enable vertical scrollbar */
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.table input {
  width: 100%;
  padding: 6px;
}
